@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

header{
}

.img-body{
    position: relative;
}

.in-hero{
    position: absolute;
    left: 5%;
    top:45%;
    background-color: rgba(0, 0, 0, 0.396);
    border-radius: 20px;
    padding: 15px;

    
}
#film-input::placeholder{
    color:white;
}

#hero-body #top-modal{
    position: absolute;
    right:5%;
    bottom: 15%;
    font-style: 2em;
    background-color: rgba(0, 0, 0, 0.396);
    border-color: rgba(0, 0, 0, 0.396);
    color: white;

}
#hero-body #top-modal:hover{
    background-color: white;
    color: #101010;
}


.in-case{

    bottom: 0%;
    width: 100%;
    height:100%;
    position: absolute;
    visibility: hidden;
    z-index: 5;
    transition: width  0.7s;


}
.in-caseB{

    bottom: -50%;
    width: 100%;
    min-height:50px;
    visibility: hidden;
    z-index: 5;




}
.case:hover .in-case{

    visibility:visible;
    width:125%;
    height:125%;
    left: -15%;

}
.case:hover .in-caseB{

    visibility:visible;


}

.case .in-case i{

position: absolute;
right:2%;
bottom:2%;
font-size: 1.5em;
}

.case .in-case i:hover{

    cursor: pointer;
}

main
{
    padding: 0%;
}
#top5{



margin:0%;
}
.article{

    width:25%;
    height:20vh;
}

.top5-card{


    /* width:20% */
}

.mynavbar{

    background-color: rgba(0, 0, 0, 0.001);
}


.modal
{

width: 100vw;
height: 100%;
background-color: rgba(0, 0, 0, 0.6);
display:none;
}

.modal .modal-content{

    width:80%;
    height:100%;
    background-color: #101010;
    border-radius: 15px;
    color: white;
}
.modal-content .modal-head{
    position: relative;
    height: 50vh;

}
.modal-head #close-modal{
    position: absolute;
    right: 3%;
    top: 3%;
    font-size: 2em;


}
.modal-head #close-modal:hover{
cursor: pointer;

}
.modal-head img{
    height: 100%;
    width: 100%;
    
}

.modal-head .bottom-blur{

    
    position:absolute;
    bottom: -1%;
    width:100%;
    background-image: linear-gradient(to bottom, transparent, #101010);

    height:50%;
    z-index: 14;
}
